
@import url('bootstrap.css');


.home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

}
.home h1{
    font-size: 50px;
}
.home h4{
    font-size: 30px;
}
h4{
    text-align: center;    
}
.mouse{
    margin-top: 200px;
    transition: 2s;
    
}


#aboutus h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
p{
    text-align: center;
    font-size: 20px;
}
#services h3{
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 50px;


}
#services{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-image: url("../images/assets/backgrounds/s_image.jpg");
}


#services p{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;

}


.icons h5{
    text-align: center;
    font-size: 40px;
}
.icons h2{
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: -5%;
}
.icons img{
    margin-top: 20%;
    margin-left: 40%;
}

#aboutus span{
    font-weight: bolder;
}
#p1{
    display: none;
    color:black;
    text-align: center;
}
#p2{

    display: none;
    color: black;
    text-align: center;
}
#p3{
    text-align: center;
    display: none;
    color: black;
}

#portfolio h1{
    font-size: 50px;
}

#toggle3{
    margin-top: -5%;
}
.portf{
    margin-bottom: 5vh;
}

#portfh{
    margin-bottom: 3    Q1vh;
}
#footer{
    text-align: center;
    padding: 5vh;
}

#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display:none;
  background-color: white;
  opacity:0.8;
  
  font-size: 30px;
  height: 120%;
  width: 130%;
  padding-top: 40%;
  padding-right: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
  text-align: center;
}

#desh,#devh,#prodh{
    display:none;
    font-size: 2vh;
  }
 
.contacts{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-image: url("../images/assets/backgrounds/c_image.jpg");
}
.contacts h1{
    text-align: center;
    font-weight: bold;
    color:white;
    margin-top: 5%;

}
#text {
	width: 160px;
	height: 160px;
	background-color: #ffffff;
	border-radius: 15px;
	z-index: 1;
	opacity: 0.2;
	position: absolute;
	top: 2em;
	left: 3em;
	display: none;
	color: white;
	font-size: 30px;
}
input,
textarea {
	color: white;
}
#Name,
#Email,
#Message {
    color: white;
    background-color: #ffffff;
}
.footer {
	align-items: center;
	justify-content: center;
	text-align: center;
}
.container-2{
    text-align: center;
}


<div class="container">
    <div class="container">
        <div id="port">
         <h2>PORTFOLIO</h2>
          </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                        <div class="zoom">
                            <figure class="col-md-3"></figure>
                        <div>
                            <img src="images/work4.jpg" alt="" class="img-fluid">
                        </div>
                    </figure>
                        </div>
                        <div class="zoom">
                            <figure class="col-md-3"></figure>
                        <div>
                            <img src="images/work3.jpg" alt="" class="img-fluid">
                        </div>
                    </figure>
                        </div>
                        <div class="zoom">
                            <figure class="col-md-3"></figure>
                        <div>
                            <img src="images/work2.jpg" alt="" class="img-fluid">
                        </div>
                    </figure>
                        </div>
                        <div class="zoom">
                            <figure class="col-md-3"></figure>
                        <div>
                            <img src="images/work1.jpg" alt="" class="img-fluid">
                        </div>
                    </figure>
                        </div>
                
         
           
            
                    <div class="zoom">
                        <figure class="col-md-3"></figure>
                    <div>
                        <img src="images/work5.jpg" alt="" class="img-fluid">
                    </div>
                </figure>
                    </div>
                    <div class="zoom">
                        <figure class="col-md-3"></figure>
                    <div>
                        <img src="images/work6.jpg" alt="" class="img-fluid">
                    </div>
                </figure>
                    </div>
                    <div class="zoom">
                        <figure class="col-md-3"></figure>
                    <div>
                        <img src="images/work7.jpg" alt="" class="img-fluid">
                    </div>
                </figure>
                    </div>
                    <div class="zoom">
                        <figure class="col-md-3"></figure>
                    <div>
                        <img src="images/work8.jpg" alt="" class="img-fluid">
                    </div>
                </figure>
                    </div>
                 </figure>
                </div>
            </div>
        </div> 
    </div>
</div>









<!-- 
    <div class="contact">
        <div class="text-contact">
            <h3>CONTACT US</h3>
            <form onsubmit="return false" method="post" name="myForm" action="../script.js" class="contact-us">
                <input type="text" placeholder="Enter your name" class="contact-name" id="cName">
                <input type="email" placeholder="Enter your email" class="contact-email" id="cEmail">
                <textarea maxlength="500" id="textarea" cols="100" rows="10" placeholder="Talk to us here"></textarea>
                <div id="textarea-feed"></div>
                <div class="contact-btn">
                    <button onclick="myforms()" id="button">Submit</button>
                </div>
            </form>
        </div>
    </div> -->
<!-- 
<div class="contacts">
    <div class="container-fluid">
        <div class="contacts">
            <h1>CONTACT US</h1>
            <br>
            <br>
            <br>

            <div class="container">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Name" placeholder="Name..."
                            style="background-color: transparent" style="text-emphasis-color: white">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="Email" placeholder="Email..."
                            style="background-color: transparent" style="text-emphasis-color:white"> 
                    </div>

                </div>
                <br>
                <br>

                <textarea class="form-control" rows="9" id="Message" placeholder="your message here..."
                    style="background-color: transparent" style="text-emphasis-color:white" id="Message"></textarea>
                <br><br>
                <button type="button" id="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>
</div>
</div>  -->

<!-- <div class="text-center" id="portfolio">
    <div class="row">
        <div id="portfh" class=" col-12">
            <h1 >PORTFOLIO</h1>

        </div>
    </div>
    
    <div class=" portf row d-flex justify-content-around">
      <div class="col-sm-2 four" >
        <img src="images/work4.jpg" alt="">
        <p id="overlay4" class="text">BLACK  STUDIO</p>
      </div>

      <div class="col-sm-2 three">
          <img src="images/work3.jpg" alt="">
          <p id="overlay3" class="text">ONTARIO SECURITY</p>
        </div>

        <div class="col-sm-2 two">
            <img src="images/work2.jpg" alt="">
            <p id="overlay2" class="text">PYRAMIDS</p>
          </div>

          <div class="col-sm-2 one">
              <img src="images/work1.jpg" alt="">
              <p id="overlay1" class="text">JIM CARREY</p>
            </div>

    </div>



    <div class=" portf row d-flex justify-content-around">
        <div class="col-sm-2 five">
          <img src="images/work5.jpg" alt="">
          <p id="overlay5" class="text">NICE DAY</p>
        </div>

        <div class="col-sm-2 six">
            <img src="images/work6.jpg" alt="">
            <p id="overlay6" class="text">CALCULATOR</p>
          </div>

          <div class="col-sm-2 seven">
              <img src="images/work7.jpg" alt="">
              <p id="overlay7" class="text">BURNED LOGO MOCK-UP</p>
            </div>

            <div class="col-sm-2 eight">
                <img src="images/work8.jpg" alt="">
                <p id="overlay8" class="text">BAILEY WONGER</p>
              </div>

      </div>

  </div> -->
